html {
  overflow-x: hidden;
}
body,
ul,
li,
dl,
dt,
dd,
p,
ol,
h1,
h2,
h3,
h4,
h5,
h6,
form,
img,
table,
fieldset,
legend,
figure,
figcaption {
  margin: 0;
  padding: 0;
}
ul,
li,
ol {
  list-style: none;
}
img,
fieldset {
  border: 0;
}
img {
  display: block;
}
a {
  text-decoration: none !important;
  color: #333;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}
em,
i,
address {
  font-style: normal;
}
body {
  height: 100%;
  background: #f9f9f9;
  scroll-behavior: smooth;
  font-size: 1rem;
  line-height: 1.5;
  font-family: -apple-system, BlinkMacSystemFont, Helvetica Neue, PingFang SC,
    Microsoft YaHei, Source Han Sans SC, Noto Sans CJK SC, WenQuanYi Micro Hei,
    sans-serif;
}
input,
a {
  outline: none;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.clean:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}
